@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* Primary */

  --Light-red-text: hsl(356, 100%, 66%);
  --Very-dark-blue-heading: hsl(208, 49%, 24%);
  --Very-light-red-hover-bg: hsl(355, 100%, 74%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Grayish-blue-footer-txt: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-bg: hsl(240, 10%, 16%);

  /* Gradient */

  --Light-red-gradient: hsl(353, 100%, 62%);
  --Very-light-red-gradient: hsl(13, 100%, 72%);

  --top-bg-gradient: linear-gradient(
    to left,
    var(--Light-red-gradient),
    var(--Very-light-red-gradient)
  );

  --Very-dark-gray-blue-gradient: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);

  --blogr-bg-gradient: linear-gradient(
    to right,
    var(--Very-dark-gray-blue-gradient),
    var(--Very-dark-desaturated-blue-gradient)
  );

  /* Font-Family */

  --Ubuntu: "Ubuntu";
  --Overpass: "Overpass";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

#header {
  padding: 6.5vh 10vw;
  font-family: var(--Ubuntu);
  border-radius: 0 0 0 4.5rem;
  background: url(./images/bg-pattern-intro-desktop.svg), var(--top-bg-gradient);
  background-position: 23% 53%;
}

#logo-links {
  display: flex;
  align-items: center;
}

nav {
  margin-bottom: 6rem;
}

.hamburger {
  display: none;
}

nav,
#register {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin-right: 5vw;
}

ul {
  display: flex;
  column-gap: 1.8rem;
  list-style-type: none;
}

ul > li > a {
  font-size: 16px;
}

#navLinks {
  position: relative;
}

#navLinks .menu {
  top: 2.6rem;
  left: -1rem;
  height: auto;
  width: 8.7rem;
  display: none;
  max-height: 13rem;
  padding: 30px 20px;
  border-radius: 4px;
  position: absolute;
  background-color: var(--White);
}

#navLinks .menu-2 {
  left: 5rem;
  max-height: 11rem;
}
#navLinks .menu-3 {
  left: 11rem;
  max-height: 11rem;
}

#navLinks .show {
  height: auto;
  display: block;
}

.menu .link a {
  font-size: 15px;
  color: var(--Very-dark-grayish-blue);
}

.menu .link a:hover {
  font-weight: 900;
  text-decoration: none;
}

#navLinks .menu .link:nth-child(even) {
  margin-inline: 0;
  margin-block: 1rem;
}

.link,
#login a {
  font-size: 14px;
  font-weight: 500;
}

a,
a:active,
a:visited {
  color: var(--White);
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

/* .link a:focus > img {
  transform: rotate(180deg);
  transition: all 0.5s ease;
} */

.link > a > img {
  margin-left: 6px;
}

button {
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 40px;
}

button:hover {
  cursor: pointer;
}

.btn,
.learn-more:hover {
  font-weight: 700;
  font-family: var(--Ubuntu);
  color: var(--Light-red-text);
  background-color: var(--White);
}

.btn:hover {
  color: var(--White);
  background-color: var(--Very-light-red-hover-bg);
}

#signUp-btn {
  margin-left: 2rem;
}

.learn-more {
  margin-left: 0.7rem;
  color: var(--White);
  background-color: transparent;
  border: 1px solid var(--White);
}

/* Hero Section */

#hero-section {
  display: flex;
  align-items: center;
  margin-bottom: 4.5rem;
  flex-direction: column;
}

h1 {
  /* font-size: 3.5vw; */
  /* font-size: 3.5rem; */
  text-align: center;
  color: var(--White);
  font-family: var(--Overpass);
}

.hero-para {
  text-align: center;
  color: var(--White);
  margin-block: 0.5rem 2.8rem;
}

#register {
  font-weight: 900;
}

/* main */
main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

#main-txt-img {
  width: 100%;
  display: flex;
}

@media (max-width: 376px) {
  #main-txt-img {
    flex-direction: column-reverse;
  }
}

h2 {
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
  margin-block: 14vh 0;
  font-family: var(--Ubuntu);
  color: var(--Very-dark-blue-heading);
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 6vh;
  font-family: var(--Ubuntu);
  color: var(--Very-dark-blue-heading);
}

#Design {
  margin-block: 10vh 0;
}

#main-txt-img #left {
  padding: 20vh 0 0 13vw;
}

#main-txt-img #right {
  width: 50%;
}

#main-txt-img #right img {
  transform: translate(5.5vw, -8dvw);
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.para {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  font-family: var(--Overpass);
  color: var(--Very-dark-grayish-blue);
}

#editor {
  margin: 1dvh 0 10dvh 0;
}

#editor .para {
  width: 90%;
}

#management .para {
  width: 88%;
}

#state-of-art {
  display: flex;
  column-gap: 18vw;
  padding-block: 17vh;
  border-radius: 0 5.5rem;
  background: url(./images/bg-pattern-circles.svg), var(--blogr-bg-gradient);
  background-repeat: no-repeat;
  background-position: -42.5% 78.5%;
}

#state-of-art #left {
  width: 40%;
  position: relative;
}

#state-of-art > #left > svg {
  top: 60%;
  left: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#state-of-art #right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#state-of-art h3,
#state-of-art .para {
  color: var(--White);
}

#state-of-art h3 {
  font-size: 2.06rem;
}

#state-of-art .para {
  width: 66%;
  color: var(--Grayish-blue-footer-txt);
}

#about-blogr {
  display: flex;
  margin-block: 0 10dvh;
}

#about-blogr #left {
  width: 50%;
  height: 100%;
  margin-top: 20dvh;
}

#about-blogr #left img {
  transform: translateX(-17.5rem);
}

#about-blogr #right {
  width: 50%;
  display: flex;
  padding-top: 18dvh;
  flex-direction: column;
  justify-content: center;
}

#simple .para {
  width: 64%;
  line-height: 25px;
  margin-bottom: 10vh;
}

#powerful-tool .para {
  width: 66%;
  line-height: 25px;
}

footer {
  display: flex;
  padding: 8vh 0;
  border-radius: 0 7vw 0 0;
  font-family: var(--Ubuntu);
  justify-content: space-evenly;
  background-color: var(--Very-dark-black-blue-footer-bg);
}

#footerHeading {
  font-size: 14px;
  font-weight: 600;
  color: var(--White);
  margin-block: 2vh 6vh;
  font-family: var(--Overpass);
}

footer ul {
  display: block;
}

footer .link:nth-child(even) {
  margin-block: 2.5vh;
}

.footerLinks a {
  font-weight: 100;
  color: var(--Grayish-blue-footer-txt);
}

/* @media (max-width: 1375px) {

} */

@media (max-width: 960px) {
  #navLinks,
  #register {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger:hover {
    cursor: pointer;
  }
}

@media (max-width: 376px) {
  #main-txt-img #left {
    width: 100%;
  }
  #main-txt-img #right {
    height: 40%;
    width: 100%;
  }
  #main-txt-img #right img {
    transform: translate(2%, 0);
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  #about-blogr {
    flex-direction: column;
  }

  #about-blogr #left img {
    height: 10%;
    transform: translateX(0);
  }

  #about-blogr #right,
  #about-blogr #left {
    width: 100%;
  }
  #simple .para {
    width: 100%;
    line-height: 25px;
    margin-bottom: 10vh;
  }
  /* footer */
  footer {
    text-align: center;
    flex-direction: column;
  }
  #Company,
  #Product,
  #Connect {
    margin-block: 6.5dvh 4dvh;
  }
}
