@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* Primary */

  --Light-red-text: hsl(356, 100%, 66%);
  --Very-dark-blue-heading: hsl(208, 49%, 24%);
  --Very-light-red-hover-bg: hsl(355, 100%, 74%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Header-link-bg-mobile: hsl(240, 7%, 94%);
  --Grayish-blue-footer-txt: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-bg: hsl(240, 10%, 16%);

  /* Gradient */

  --Light-red-gradient: hsl(353, 100%, 62%);
  --Very-light-red-gradient: hsl(13, 100%, 72%);

  --top-bg-gradient-desktop: linear-gradient(
    to left,
    var(--Light-red-gradient),
    var(--Very-light-red-gradient)
  );

  --top-bg-gradient-mobile: linear-gradient(
    to top,
    var(--Light-red-gradient),
    var(--Very-light-red-gradient)
  );

  --Very-dark-gray-blue-gradient: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);

  --blogr-bg-gradient: linear-gradient(
    to right,
    var(--Very-dark-gray-blue-gradient),
    var(--Very-dark-desaturated-blue-gradient)
  );

  /* box shadow */

  --box-shadow: 0px 20px 25px -6px rgba(51, 51, 51, 0.75);

  /* Font-Family */

  --Ubuntu: "Ubuntu";
  --Overpass: "Overpass";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* header */

#header {
  padding: 11dvh 10dvw;
  font-family: var(--Ubuntu);
  border-radius: 0 0 0 4.5rem;
  background: url(./images/bg-pattern-intro-desktop.svg),
    var(--top-bg-gradient-desktop);
  background-repeat: no-repeat;
  background-position: 23% 53%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12.5dvh;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

#register {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin-right: 5vw;
}

.links-reg {
  width: 100%;
  align-items: center;
  @media (min-width: 971px) {
    display: flex !important;
    justify-content: space-between;
  }
}

ul {
  display: flex;
  column-gap: 1.8rem;
  list-style-type: none;
}

ul > li > a {
  font-size: 16px;
}

#navLinks {
  position: relative;
}
.menu {
  top: 2.6rem;
  left: -1rem;
  width: 8.7rem;
  display: none;
  padding: 30px 20px;
  border-radius: 4px;
  position: absolute;
  background-color: var(--White);
}

.menu-2 {
  left: 6rem;
  max-height: 11rem;
}
.menu-3 {
  left: 13rem;
  max-height: 11rem;
}

#navLinks .link:focus-within .menu {
  height: auto;
  display: block;
}

#navLinks .link a > .img {
  transition: transform 0.5s ease;
}

#navLinks .link a:focus-within > .img {
  transform: rotate(180deg);
}

.menu .link a {
  font-size: 15px;
  color: var(--Very-dark-grayish-blue);
}

.menu .link a:hover {
  font-weight: 900;
  text-decoration: none;
}

#navLinks .menu .link:nth-child(even) {
  margin-inline: 0;
  margin-block: 1rem;
}

.link,
#login a {
  font-size: 14px;
  font-weight: 500;
}

a,
a:active,
a:visited {
  color: var(--White);
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

#navLinks ul .link a {
  display: flex;
  align-items: center;
}

#navLinks ul .link a .img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url(./images/icon-arrow-light.svg);
}

button {
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 40px;
}

button:hover {
  cursor: pointer;
}

.btn,
.learn-more:hover {
  font-family: var(--Ubuntu);
  color: var(--Light-red-text);
  background-color: var(--White);
}

.btn:hover {
  color: var(--White);
  background-color: var(--Very-light-red-hover-bg);
}

#signUp-btn {
  margin-left: 2rem;
}

.learn-more {
  margin-left: 0.7rem;
  color: var(--White);
  font-family: var(--Ubuntu);
  background-color: transparent;
  border: 1px solid var(--White);
}

/* Hero Section */

#hero-section {
  display: flex;
  align-items: center;
  margin-bottom: 4.5rem;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: var(--White);
  font-size: max(4.4vw, 2rem);
  font-family: var(--Overpass);
}

.hero-para {
  font-weight: 300;
  text-align: center;
  color: var(--White);
  margin-block: 0.5rem 2.8rem;
  font-family: var(--Overpass);
  font-size: max(1.6dvw, 1.1rem);
}

#register {
  font-weight: 900;
}

/* main */
main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

#main-txt-img {
  width: 100%;
  display: flex;
}

h2 {
  font-weight: 500;
  text-align: center;
  margin-block: 13vh 0;
  font-family: var(--Ubuntu);
  font-size: max(2.8dvw, 1.45rem);
  color: var(--Very-dark-blue-heading);
}

h3 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 6vh;
  font-family: var(--Ubuntu);
  color: var(--Very-dark-blue-heading);
}

#Design {
  margin-block: max(3vw, 1rem) 0;
}

#main-txt-img #left {
  width: 50%;
  margin-top: 10dvw;
  padding-left: 10vw;
}

#main-txt-img #right {
  width: 50%;
}

#main-txt-img #right img {
  width: max(66vw, 75%);
  transform: translate(3dvw, -7.8dvw);
}

.desktop {
  display: block;
}

.mobile,
.menuBtn {
  display: none;
}

.para {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  font-family: var(--Overpass);
  color: var(--Very-dark-grayish-blue);
}

#editor {
  margin-block: 1dvh max(5dvw, 3rem);
}

#editor .para {
  width: 83.9%;
}

#management .para {
  width: 82%;
}

#state-of-art {
  display: flex;
  column-gap: 7.5vw;
  padding-block: 18dvh;
  border-radius: 0 5.5rem;
  background-repeat: no-repeat;
  background-position: -44% 88%;
  background: url(./images/bg-pattern-circles.svg), var(--blogr-bg-gradient);
}

#state-of-art #left {
  width: 40%;
  position: relative;
}

#state-of-art > #left > img {
  top: 50%;
  left: 64%;
  position: absolute;
  height: max(38vw, 20rem);
  transform: translate(-50%, -50%);
}

#state-of-art #right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#state-of-art h3,
#state-of-art .para {
  color: var(--White);
}

#state-of-art h3 {
  font-size: min(7.5vw, 2.68rem);
}

#state-of-art .para {
  width: 66%;
  color: var(--Grayish-blue-footer-txt);
}

#about-blogr {
  display: flex;
  margin-block: 0 10dvh;
}

#about-blogr #left {
  width: 50%;
  height: 100%;
  margin-top: 20dvh;
}

#about-blogr #left img {
  width: max(70vw, 90%);
  transform: translateX(-20vw);
}

#about-blogr #right {
  width: 50%;
  display: flex;
  padding-top: 18dvh;
  flex-direction: column;
  justify-content: center;
}

#simple .para {
  width: 65%;
  line-height: 25px;
  margin-bottom: 10vh;
}

#powerful-tool .para {
  width: 66%;
  line-height: 25px;
}

footer {
  display: flex;
  padding: 8vh 0;
  border-radius: 0 100px 0 0;
  font-family: var(--Ubuntu);
  justify-content: space-evenly;
  background-color: var(--Very-dark-black-blue-footer-bg);
}

#footerHeading {
  font-weight: 600;
  color: var(--White);
  margin-block: 2vh 6vh;
  font-family: var(--Overpass);
  font-size: max(1.3vw, 1.4rem);
}

footer ul {
  display: block;
}

footer .link:nth-child(even) {
  margin-block: 2.5vh;
}

.footerLinks a {
  width: 100%;
  font-weight: 100;
  font-size: 1.15rem;
  color: var(--Grayish-blue-footer-txt);
}

.links-reg1 {
  display: none;
}

@media (max-width: 970px) {
  /* Header */
  #header {
    background: url(./images/bg-pattern-intro-mobile.svg),
      var(--top-bg-gradient-mobile);
    background-size: 325%;
    background-position: 33.8% 33.5%;
  }
  nav {
    position: relative;
  }
  .links-reg {
    display: none;
  }
  .menuBtn {
    width: 1.5rem;
    height: 1.5rem;
  }
  #navLinks ul .link a {
    font-size: 18px;
    justify-content: center;
  }
  #register #login a {
    font-size: 18px;
  }

  #register,
  .links-reg,
  #navLinks ul {
    align-items: center;
    flex-direction: column;
  }
  #navLinks {
    width: 86%;
    margin-bottom: 1.6rem;
    padding-bottom: 0.6rem;
    border-bottom: 2px solid var(--Header-link-bg-mobile);
  }
  #signUp-btn {
    margin: 0;
    color: var(--White);
    padding: 0.8rem 2rem;
    margin-block: 1rem 2rem;
    background: var(--top-bg-gradient-desktop);
  }
  #navLinks ul .link a .img {
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/icon-arrow-dark.svg);
  }
  #register #login a,
  #navLinks ul a {
    font-weight: 700;
    font-family: var(--Overpass);
    color: var(--Very-dark-blue-heading);
  }
  .links-reg {
    top: 140%;
    width: 100%;
    z-index: 9999;
    display: none;
    position: absolute;
    border-radius: 6px;
    align-items: center;
    box-shadow: var(--box-shadow);
    background-color: var(--White);
  }

  #navLinks .menu {
    width: 70dvw;
    display: none;
    position: static;
    margin-block: 1rem 0;
    background-color: var(--Header-link-bg-mobile);
  }
  #navLinks .menu-2 {
    padding-block: 1.2rem 0.5rem;
  }
  #navLinks .menu a {
    color: hsl(207, 16%, 44%);
  }
  #Product {
    margin-block: 5vh 0;
  }
  #Company {
    margin-block: 4vh;
  }
  #Connect {
    margin-block: 0 5vh;
  }
  /* Main */
  .desktop {
    display: none;
  }
  .hamburger,
  .mobile,
  .menuBtn {
    display: block;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  #main-txt-img #left > div {
    width: 80%;
  }
  #main-txt-img #left {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10dvh;
    flex-direction: column;
  }
  #main-txt-img #left .para,
  h3 {
    width: 100%;
    text-align: center;
  }
  #main-txt-img {
    margin-block: 0;
    flex-direction: column-reverse;
  }
  #main-txt-img #right {
    height: 40%;
    width: 100%;
    display: flex;
    margin: 10vh 0;
    justify-content: center;
  }
  #main-txt-img #right img,
  #about-blogr #left img {
    transform: translate(0);
  }

  #state-of-art {
    height: 100dvh;
    align-items: center;
    background-size: 166%;
    flex-direction: column;
    background-position: 48% 1500%;
    margin-block: min(40vw, 7rem) 0;
  }

  #state-of-art > #left {
    width: 100%;
    height: 40%;
  }

  #state-of-art > #left > img {
    top: -5rem;
    left: 50%;
    height: 66dvh;
  }

  #state-of-art #right {
    width: 100%;
  }

  #state-of-art #right .para {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  #about-blogr {
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #about-blogr #left {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #about-blogr #right {
    width: 80%;
    padding-top: 5dvh;
  }

  #simple .para,
  #powerful-tool .para {
    width: 100%;
    line-height: 25px;
    margin-bottom: 10vh;
  }
  /* footer */
  footer {
    text-align: center;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  #main-txt-img #right img,
  #about-blogr #left img {
    width: 100%;
  }
}

@media only screen and (max-width: 970px) and (min-width: 380px) {
  #state-of-art > #left > img {
    top: -30%;
    left: 50%;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 970px) {
  #editor .para,
  #management .para {
    width: 100%;
  }
}
